.custom-header-height {
    height: 32rem;
    /* Augmentez cette valeur selon vos besoins */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header .content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 4rem;
    font-weight: bold;
}

header p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFD15B;
    /* Yellow color for the subtitle */
    margin-top: 20px;
}

header .search-bar {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

header .search-bar input {
    width: 75%;
    /* Ajustez la largeur de l'input */
    padding: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
}

header .search-bar button {
    padding: 15px;
    background-color: #FFD700;
    /* Yellow color for the button */
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

header .search-bar button svg {
    width: 24px;
    height: 24px;
}

.relative .w-6.h-6 {
    z-index: 1;
}

.relative .w-4.h-4 {
    z-index: 2;
}

.relative .w-2.h-2 {
    z-index: 3;
}